.toggle-accordion {
    width: 100%;
    background-color: $wht;
    height: 50px;
    color: $green-dark;
    border: none;
    box-shadow: $box-shadow;
    text-align: left;
    padding: 0px 24px;
}