footer {
    background: $gray-dark;
    color: $wht;
    font-weight: 700;
    .footer-left {
        font-size: 14px;
        font-weight: 400;
    }
    .footer-bot {
        font-size: 14px;
    }
}