.header-bio {
    background-image: url(/assets/img/background/fondo_cabezera.png);
    background-position: center;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 800;
}