.menu-open {
    overflow: hidden;
    .menu-overlay {
        right: 250px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        transition-duration: 750ms,0s,375ms;
        // transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
        transition-delay: 0s,0s,0s;
    }
    .nav-menu {
        // transition-timing-function: ease-in-out;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
        transition-duration: 750ms;
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    z-index: 800;
    background-color: rgba(83,74,67,0);
    transition: right,left,background-color;
    transition-duration: 375ms,0s,375ms;
    transition-timing-function: ease-in-out,linear,ease-in-out;
    transition-delay: 0s,375ms,0s;
}

.navbar-toogle {
    background-color: $green-bright;
    color: $wht;
    font-size: 26px;
    padding: 6px 0px;
    // float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    button {
        color: $wht;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-menu {
    // float: right;
    background-color: $wht;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all;
    // transition-duration: 750ms;
    transition-duration: 375ms;
    transition-timing-function: ease-in-out;
    // transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-delay: 0ms;
    z-index: 900;
    &.active {
        transform: translateX(0%);
    }
    .icon {
        font-size: 26px;
        &.close-icon {
            color: $wht;
            font-size: 36px;
        }
    }

    .wrapper-navs {
        height: 100%;
        overflow: auto;
    

        .wrapper-sections {
            background-color: $green-dark;
            padding-top: 5px;
            padding-bottom: 24px;
            .btn-accordion-nav {
                width: 100%;
                text-align: left;
                color: $wht;
            }

            .wrapper-collapse {
                background-color: $wht;
                
                .main-sub-navs {
                    a {
                        color: $gray-3;
                        transition: color;
                        transition-duration: 375ms;
                        transition-timing-function: ease;
                        transition-delay: 0s;
                        &:hover {
                            color: $green-bright;
                        }
                    }
                }

                .interes-links {
                    a {
                        color: $green;
                        transition: color;
                        transition-duration: 375ms;
                        transition-timing-function: ease;
                        transition-delay: 0s;
                        &:hover {
                            color: $green-bright;
                        }
                    }
                }

            }

        }

        .extra-links {
            background-color: $wht;
            padding-top: 14px;
            // color: $green-dark;
            a {
                color: $green-dark;
            }
        }

        .menu-social-media {
            font-size: 26px;
            ul {
                justify-content: space-around;
                justify-content: space-evenly;
                a {
                    color: $green-dark;
                    display: block;
                    padding: 0 .5rem;
                }
            }
        }

    }
}