.menu-open {
	overflow: hidden;
	.menu-overlay {
		right: 250px;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		// transition-duration: 750ms,0s,375ms;
		transition-duration: 375ms, 0s, 375ms;
		// transition-timing-function: cubic-bezier(.175,.885,.32,1.14),linear,ease-in-out;
		// transition-timing-function: ease-in-out,linear,ease-in-out;
		transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
		transition-delay: 0s, 0s, 0s;
	}
	.nav-menu {
		transition-timing-function: ease-in-out;
		// transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
		// transition-duration: 750ms;
		transition-duration: 375ms;
	}
}

.btn-menu-close {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.pos-toogle-btn {
	background-color: $green-bright;
	z-index: 999;
	position: fixed;
	right: 0;
	top: 25px;
	display: none;
	@include media-breakpoint-down(sm) {
		display: block;
	}
	.toogle-btn-menu {
		overflow: hidden;
		color: $wht;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in-out;
		.menu-btn-bars {
			width: 25px;
			height: 5px;
			background-color: $wht;
			transition: all 0.5s ease-in-out;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 25px;
				height: 5px;
				background-color: $wht;
				transition: all 0.5s ease-in-out;
			}
			&::before {
				transform: translate(-12px, -7px);
			}
			&::after {
				transform: translate(-12px, 7px);
			}
		}
		&.open {
			.menu-btn-bars {
				transform: translateX(-50px);
				background-color: transparent;
				&::before {
					transform: rotate(45deg) translate(27px, -27px);
				}
				&::after {
					transform: rotate(-45deg) translate(27px, 27px);
				}
			}
		}
	}
}

.menu-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	z-index: 800;
	background-color: rgba(83, 74, 67, 0);
	transition: right, left, background-color;
	transition-duration: 375ms, 0s, 375ms;
	transition-timing-function: ease-in-out, linear, ease-in-out;
	// transition-delay: 0s,375ms,0s;
	transition-delay: 0s, 375ms, 0s;
}

.navbar-toogle {
	background-color: $green-bright;
	color: $wht;
	font-size: 26px;
	padding: 6px 0px;
	// float: left;
	display: flex;
	flex-direction: column;
	position: absolute;
	// top: 0px;
	left: 0;
	transform: translateX(-100%);
	@include media-breakpoint-down(sm) {
		display: none !important;
	}
	button {
		color: $wht;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.isOpenHeader {
	top: 80px !important;
}
.isCloseHeader {
	top: 0px !important;
}

.nav-menu {
	// float: right;
	background-color: $wht;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: all;
	// transition-duration: 750ms;
	transition-duration: 375ms;
	transition-timing-function: ease-in-out;
	// transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
	transition-delay: 0ms;
	z-index: 900;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	&.active {
		transform: translateX(0%);
	}
	.icon {
		// font-size: 26px;
		&.close-icon {
			color: $wht;
			font-size: 36px;
		}
	}

	.wrapper-navs {
		height: 100%;
		overflow: auto;

		.wrapper-sections {
			background-color: $green-dark;
			padding-top: 5px;
			padding-bottom: 24px;
			@include media-breakpoint-down(sm) {
				padding-top: 25px;
			}
			.btn-accordion-nav {
				width: 100%;
				text-align: left;
				color: $wht;
			}

			.wrapper-collapse {
				background-color: $wht;

				.main-sub-navs {
					a {
						color: $gray-3;
						transition: color;
						transition-duration: 375ms;
						transition-timing-function: ease;
						transition-delay: 0s;
						&:hover {
							color: $green-bright;
						}
					}
				}

				.interes-links {
					a {
						color: $green;
						transition: color;
						transition-duration: 375ms;
						transition-timing-function: ease;
						transition-delay: 0s;
						&:hover {
							color: $green-bright;
						}
					}
				}
			}
		}

		.search-responsive {
			display: none;
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		.intranet-responsive {
			display: none;
			padding: 0px 0px;
			text-align: center;
			@include media-breakpoint-down(sm) {
				display: block;
			}
			.nav-item {
				border-bottom: 1px solid $green-dark-50;
				a {
					color: $green;
				}
			}
		}

		.extra-links {
			background-color: $wht;
			padding: 14px 0px 0px;
			// color: $green-dark;
			@include media-breakpoint-down(sm) {
				border-bottom: 1px solid $green-dark-50;
				padding: 10px 0px 10px;
			}
			a {
				color: $green-dark;
			}
		}

		.menu-social-media {
			font-size: 26px;
			ul {
				justify-content: space-around;
				justify-content: space-evenly;
				a {
					color: $green-dark;
					display: block;
					padding: 0 0.5rem;
				}
			}
		}
	}
}
