.btn-modal-close {
	color: $green-dark;
}

@include media-breakpoint-up(lg) {
	.modal-lg,
	.modal-xl {
		max-width: 1400px;
	}
}

.swiper {
	position: static !important;
}
.swiper-button-prev,
.swiper-button-next {
	top: 40% !important;
	color: $green !important;
}
