body {
    font-family: 'Lato', sans-serif;
}

.divisor-text {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 1px;
        height: 100%;
        background-color: $wht;
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}