table {
    th, td {
        border-right: 1px solid $green-dark;
        padding: 10px 20px;
        &:last-of-type {
            border-right: none;
        }
    }
    thead {
        background-color: $green;
        color: $wht;
    }
    tbody {
        tr:nth-of-type(odd) {
            background-color: $green-15;
        }
    }
}