.tabs-wrapper {
    border-top: 1px solid $green-dark-50;
    .tab {
        font-weight: 700;
        padding: 12px 24px;
        border-bottom: 1px solid $green-dark-50;
        font-size: 16px;
        color: $green-dark;
        &.active {
            color: $green;
        }
    }
}

.nav-tabs {
    border-bottom: 2px solid $gray;
    .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent;
        border-bottom: 2px solid $green;
        color: $green-dark;
    }
    .nav-link {
        border: none;
        color: $green-dark;
        font-weight: 700;
        padding: 5px 15px;
    }
}