.subtitle-green {
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background-color: $green;
    color: $wht;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.big-text {
    font-size: 44px;
    font-weight: 700;
    color: $green-dark;
}