// Colores principales
$green: #27a87d;
$green-dark: #56756b;

// Colores secundarios
$green-bright: #48dc57;
$gray: #c4c4c4;
$gray-bright: #f4f4f4;

//
$green-50: rgba(39, 168, 125, 0.5);
$green-30: rgba(39, 168, 125, 0.3);
$green-15: rgba(39, 168, 125, 0.15);
$green-dark-75: rgba(86, 117, 107, 0.75);
$green-dark-50: rgba(86, 117, 107, 0.5);
$green-dark-10: rgba(86, 117, 107, 0.1);
$gray-2: #494949;
$gray-3: #4f4f4f;

// Disabled
$disabled: #54626c52;

// Announcement
$black-2: #3a464f;

// Footer
$gray-dark: #202124;

$gray-dark-75: #202124bf;

$wht: #ffffff;
$blc: #000000;

// Shadow
$box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
$box-shadow-green: 0px 1px 4px 2px $green-50;
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
